*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
}

a{
	text-decoration: none;
}

.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.row{
	display: block;
	width: 100%;
}

nav{
	background: #f5f5f5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	position: fixed;
	width: 100%;
}

.logo{
	margin-left: 2%;	
}

.logo a{
	color: rgba(0, 0, 0, .7);
	font-size: 2em;
	font-weight: 400;
}

.menu ul{
	display: flex;
	list-style: none;
	line-height: 70px;
}

.menu ul li{
	font-size: .9em;
}

.menu li a{
	color: rgba(0, 0, 0, .7);
	font-weight: 500;
	display: inline-block;
	padding: 0 1.5em;
}

.menu li a:hover{
	background: rgba(0, 0, 0, .1);
	transition: background-color .3s;
}

.menu-active{
	background: rgba(0, 0, 0, .1);
}

.content-intro{
	background-color: #004d40;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
	padding: 5em 0 4em 0;
}

.intro-img{
	align-self: center;
	border-radius: 50%;
	border: 5px solid #fff;
	height: 200px;
	width: 200px;
}

.intro-titulo{
	font-weight: 300;
	font-size: 3em;
	margin: .5em 0;
}

.intro-descripcion{
	font-size: 1.8em;
	font-weight: 200;
	text-align: center;
	width: 80%;
}

.content-cards{
	color: rgba(0, 0, 0, .8);
	margin-top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content-cards h2{
	font-weight: 300;
	font-size: 2em;
	margin-top: 1em;
}

.content-cards h2 i{
	font-weight: 300;
}

article.card-content{
	background: #fafafa;
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	margin: 1.5em 0;
	padding: 1.5em;
	width: 70%;
}

.card-title,
.card-company,
.card-date,
.card-description{
	padding-bottom: 8px;
}

.card-title{
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
}

.card-company{
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

.card-company a{
	color: #000;	
}

.card-date{
	font-weight: 300;
	text-transform: uppercase;
}

.card-description{
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
}


footer{
	background-color: #004d40;
	display: flex;
	justify-content: center;
}

footer .redes{
	/*background: rgba(0, 0, 0, .1);*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
	width: 70%;
}

footer a, footer i{
	color: #fff;
	font-weight: 200;
	font-size:1em;
}