*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: #555;
	opacity: .9;
}

div.container{
	width: 100%;
}

div.row{
	width: 100%;
	padding: .5em 0em;
}

div.bg-black{
	background: #555;
}

div.bg-grey{
	background: #f8f8f9;
}

div.header{
	display: flex;
	align-self: center;
	color: #fff;
	max-width: 80%;
	padding: 1em 0em;
	margin: auto;
}

div.info{
	flex: 70;
}

div.info h1, div.info p{
	text-align: right;
}

div.img-perfil{
	flex: 30;
	display: flex;
	justify-content: center;
}

div.img-perfil img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

div.about{
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 2em;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

div.about hr{
	margin-bottom: 2em;
}

div.about-me{
	display: flex;
}

div.about-me p{
	flex: 60;
	padding-right: 2em;
	line-height: 1.8em;
	font-size: .9em;
}

div.about-me .image{
	flex: 40;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.about-me .image img{
	border-radius: 50%;
	height: 400px;
	width: 400px; 
}


div.estudios{
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 2em;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	background: #fff;
}

div.estudios div.titulo{
	margin-bottom: 2em;
}

div.estudio{
	margin: 1em 0em;
	border-left: 4px solid #555;
	padding-left: 1em;
}

div.estudio a{
	color: teal;
	text-decoration: none;
}

em{
	font-size: .9em;
	color: teal;
}