*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
}

a{
	text-decoration: none;
}

.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.row{
	display: block;
	width: 100%;
}

nav{
	background: #f5f5f5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 0 2%;
	position: fixed;
	width: 100%;
}

.logo a{
	color: rgba(0, 0, 0, .7);
	font-size: 2em;
	font-weight: 400;
}

.menu ul{
	display: flex;
	list-style: none;
}

.menu ul li{
	font-size: .9em;
	margin-left: 1.7em;
}

.menu li a{
	color: rgba(0, 0, 0, .7);
	font-weight: 500;	
}